html, body {
  background: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
nav {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: stretch;
  justify-content: space-around;
}

.header-text {
  color: white;
  font-family: #f9faf8;
  font-size: 200%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.climate {
  border-style: solid;
  border-color: white;
  width: auto;
  color: white;
  font-family: #f9faf8;
  font-size: 150%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}